	a:link, a:visited { 
						color: #e28112;
						text-decoration: none;
						/*font-weight: bold;*/
						cursor: auto;
						text-align: left;
						cursor: pointer;
					}
																	
	a:hover {
						cursor: pointer;
						text-decoration: underline;
						-webkit-transition-duration: 0.4s; /* Safari */
						transition-duration: 0.4s;
						}
						
	u {
						text-decoration: none;
						border-bottom: solid 2px;
	}
									
	
	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes fade {
							from {	opacity: 0;}
							to {	opacity: 1;}
							}
	/* Standard syntax */
	@keyframes fade {
							from {	opacity: 0;}
							to {	opacity: 1;}
						}

			
	input[type=text] {
						  width: 100%;
						  box-sizing: border-box;
						  border: 2px solid #ccc;
						  border-radius: 4px;
						  font-size: 16px;
						  background-color: white;
						  background-image: url('searchicon.png');
						  background-position: 10px 10px; 
						  background-repeat: no-repeat;
						  padding: 12px 20px 12px 40px;
					}
					
	select {
						  width: 100%;
						  padding: 16px 20px;
						  border: none;
						  border-radius: 10px;
						  background-color: #bfa87f;
						  z-index: 1000;
						  text-transform: uppercase;
						  font-family: Lato;
						  font-size: 10pt;
						  color: #333;
						  letter-spacing: 1px;
					}
	
	@font-face {
		font-family: 'silkscreennormal';
		src: url('fonts/slkscr.woff2') format('woff2'),
			 url('fonts/slkscr.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		}
	@font-face {
		font-family: 'silkscreenbold';
		src: url('fonts/slkscrb.woff2') format('woff2'),
			 url('fonts/slkscrb.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		}
	@font-face {
		font-family: 'silkscreen_expandednormal';
		src: url('fonts/slkscre.woff2') format('woff2'),
			 url('fonts/slkscre.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}	
	@font-face {
		font-family: 'silkscreen_expandedbold';
		src: url('fonts/slkscreb.woff2') format('woff2'),
			 url('fonts/slkscreb.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	html, body {
		overflow-y: hidden;
		overflow-x: hidden;
		height: 100%;
		color: #bbb;						/* Cor do texto principal */
		background-color: #060B27;			/* Cor do fundo */
		font-family: Raleway;
		text-align: center;
		z-index: 999;
	}
	
	img {
		margin: none;
	}
	
	p {
		margin: none;
		display: inline;
	}
	
	
	
	/*PAGINAS*/
	
	#index_container {
		display: flex;
		height: 100%;
		align-items: center;
		text-align: center;
		justify-content: center;
	}
	
	#about_container {
		display: none;
		height: 100%;
		align-items: center;
		text-align: center;
		justify-content: center;
	}
	
	#illustration_container {
		display: none;
	}
		
	#design_container {
		display: none;
	}
	
	#sketches_container {
		display: none;
	}
	
	#comics_container {
		display: none;
	}
	
	#pixelart_container {
		display: none;
	}
	
	/* PAGE: INDEX */
	
	
	#startingwindow {
		display: inline-block;
		overflow:hidden;
		position: relative;
		top: -5%;
		max-width: 800px;
		min-width: 60%;
		max-height: 600px;
		min-height: 80%;
		background-color: #020216;				/* Cor do fundo da janela principal */
		
		border: 2px solid #300542;				/* Cor da primeira borda da janela */
		outline: 1px solid #721381;				/* Cor da segunda borda da janela */
		
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 2s;
	}
	
	.window {
		background-color: #020216;				/* Cor do fundo da janela principal */
		
		border: 2px solid #300542;				/* Cor da primeira borda da janela */
		outline: 1px solid #721381;				/* Cor da segunda borda da janela */
	}
	
	.bluewindow{
		background-color: #020216;				/* Cor do fundo da janela principal */
		
		border: 2px solid #123d54;				/* Cor da primeira borda da janela */
		outline: 1px solid #2781B3;				/* Cor da segunda borda da janela */
	}
	
	#top {
		top: 0px;
		left: 0;
		width: 100%;
		height: 18px;
		background-color: #721381;				/* Cor da barra do topo */
		text-align: left;
		color: #fff;							/* Cor do texto da barra */
		padding: 0px 0px 4px 7px;	/* top right bottom left */
		font-family: silkscreennormal;		/* Fonte do texto da barra */
		font-size: 13pt;
	}

	#startingimage img {
		position: relative;
		padding: 20px;
		float: right;
		
		border: 1px solid #2781B3;
		width: 20%;
	}
	
	#startingcolumn {
		position: absolute;
		overflow-x: hidden;
		overflow-y: auto;
		float: left;
		text-align: left;
		min-width: 10%;
		min-height: 60%;
		max-height: 100%;
		padding: 50px 0 50px 50px;	/* top right bottom left */
	}
	
	.navbutton, .navbutton:visited, .navbutton:link {
		background-color: transparent;
		border: none;
		color: #2781B3;
		padding: 6px 20px 6px 20px;
		text-align: center;
		text-decoration: none;
		font-family: silkscreennormal;
		font-size: 20px;
		display: block;
		margin: 10px 2px;
		border-radius: 20px 0 20px 0;
		border: 2px solid #2781B3;
		
		
		-webkit-transition-duration: 0.2s; /* Safari */
		transition-duration: 0.2s;
		cursor: pointer;
		}
	
	.navbutton:hover {
		background-color: #2781B3;
		color: #020216;
		border-color: #020216;
		letter-spacing: 10px;
		}
	
	.navbutton:disabled, button[disabled]{
		border-color: #777;
		color: #777;
		background-color: transparent;
		letter-spacing: 0;
		cursor: default;
		}
	
	.navbutton:active {
		border-color: #020216;
		color: #2781B3;
		background-color: transparent;
		-webkit-transition-duration: 0.1s; /* Safari */
		transition-duration: 0.1s;
		}
	
	button:focus {outline:0;}
	
	#languageswindow {
		position: absolute;
		overflow: auto;
		right: 15%;
		bottom: 5%;
		width: 220px;
		height: 120px;
		overflow: hidden;
		text-align: center;
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 0.5s;
	}
	
	#languagestop {
		top: 0px;
		left: 0;
		width: 100%;
		height: 18px;
		background-color: #721381;				/* Cor da barra do topo */
		text-align: left;
		color: #fff;							/* Cor do texto da barra */
		padding: 0px 0px 4px 7px;	/* top right bottom left */
		font-family: silkscreennormal;		/* Fonte do texto da barra */
		font-size: 13pt;
	}
	
	#abtcontactlinkwindow {
		position: absolute;
		overflow: auto;
		left: 10%;
		top: 25%;
		width: 150px;
		height: 100px;
		overflow: hidden;
		text-align: center;
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 0.5s;
	}
	
	#abtcontactlinktop {
		top: 0px;
		left: 0;
		width: 100%;
		height: 18px;
		background-color: #2781B3;				/* Cor da barra do topo */
		text-align: left;
		color: #fff;							/* Cor do texto da barra */
		padding: 0px 0px 4px 7px;	/* top right bottom left */
		font-family: silkscreennormal;		/* Fonte do texto da barra */
		font-size: 13pt;
	}
	
	.button {
		color: #bbb;
		text-align: center;
		font-family: MS Sans Serif;
		font-size: 14px;
		padding: 4px 4px;
		width: 50%;
		border-top: 1px solid #721381;
		border-left: 1px solid #721381;	
		border-right: 1px solid #CCC;	
		border-bottom: 1px solid #CCC;
		margin-bottom: 8px;
		outline: 1px solid #721381;
		cursor: pointer;
	}
	
	.button:hover {
		border-top: 1px solid #CCC;
		border-left: 1px solid #CCC;	
		border-right: 1px solid #721381;	
		border-bottom: 1px solid #721381;
		outline: 1px solid #721381;
	}
	
	.button:active {
		border-top: 1px solid #721381;
		border-left: 1px solid #721381;	
		border-right: 1px solid #CCC;	
		border-bottom: 1px solid #CCC;
		background-color: #1d0736;
		outline: 1px solid #721381;
	}
	
	.button:disabled {
		border-top: 1px solid #721381;
		border-left: 1px solid #721381;	
		border-right: 1px solid #CCC;	
		border-bottom: 1px solid #CCC;
		opacity: 0.6;
	}
	
	.bluebutton {
		color: #bbb;
		text-align: center;
		font-family: MS Sans Serif;
		font-size: 14px;
		padding: 4px 4px;
		width: 50%;
		border-top: 1px solid #2781B3;
		border-left: 1px solid #2781B3;	
		border-right: 1px solid #CCC;	
		border-bottom: 1px solid #CCC;
		margin-bottom: 8px;
		outline: 1px solid #2781B3;
		cursor: pointer;
	}
	
	.bluebutton:hover {
		border-top: 1px solid #CCC;
		border-left: 1px solid #CCC;	
		border-right: 1px solid #2781B3;	
		border-bottom: 1px solid #2781B3;
		outline: 1px solid #2781B3;
	}
	
	.bluebutton:active {
		border-top: 1px solid #2781B3;
		border-left: 1px solid #2781B3;	
		border-right: 1px solid #CCC;	
		border-bottom: 1px solid #CCC;
		background-color: #193d4d;
		outline: 1px solid #2781B3;
	}
	
	.bluebutton:disabled {
		border-top: 1px solid #2781B3;
		border-left: 1px solid #2781B3;	
		border-right: 1px solid #CCC;	
		border-bottom: 1px solid #CCC;
		opacity: 0.6;
	}
	
	/* PAGE: ABOUT */
	
	#aboutwindowtop {
		top: 0px;
		left: 0;
		width: 100%;
		height: 18px;
		background-color: #2781B3;				/* Cor da barra do topo */
		text-align: left;
		color: #fff;							/* Cor do texto da barra */
		padding: 0px 0px 4px 7px;	/* top right bottom left */
		font-family: silkscreennormal;		/* Fonte do texto da barra */
		font-size: 13pt;
	}
	
	#aboutwindow {
		display: inline-block;
		overflow: hidden;
		position: relative;
		top: -50px;
		left: -25px;
		max-width: 600px;
		min-width: 40%;
		max-height: 600px;
		min-height: 60%;
		background-color: #020216;				/* Cor do fundo da janela principal */
		
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 2s;
	}
	
	#abouttext {
		text-align: left;
		font-size: 12pt;
		color: #DDD;
		padding: 30px;
		
	}
	
	#drawingofme {
		display: inline-block;
		overflow:hidden;
		position: absolute;
		top: 10%;
		right: 5%;
		max-width: 400px;
		min-width: 30%;
		max-height: 300px;
		min-height: 20%;
		background-color: #020216;				/* Cor do fundo da janela principal */
		
		border: 2px solid #300542;				/* Cor da primeira borda da janela */
		outline: 1px solid #721381;				/* Cor da segunda borda da janela */
		
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 2s;
	}
		
	#email {
		display: inline-block;
		overflow:hidden;
		position: absolute;
		bottom: 10%;
		right: 20%;
		height: 85px;
		background-color: #020216;				/* Cor do fundo da janela principal */
		
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 1s;
		
		text-align: left;
	}
	
	.abouttop {
		top: 0px;
		left: 0;
		width: 100%;
		height: 18px;
		background-color: #721381;				/* Cor da barra do topo */
		text-align: left;
		color: #fff;							/* Cor do texto da barra */
		padding: 0px 0px 4px 7px;	/* top right bottom left */
		font-family: silkscreennormal;		/* Fonte do texto da barra */
		font-size: 13pt;
	}
	
	.blueabouttop {
		top: 0px;
		left: 0;
		width: 100%;
		height: 18px;
		background-color: #2781B3;				/* Cor da barra do topo */
		text-align: left;
		color: #fff;							/* Cor do texto da barra */
		padding: 0px 0px 4px 7px;	/* top right bottom left */
		font-family: silkscreennormal;		/* Fonte do texto da barra */
		font-size: 13pt;
	}
	
	.aglomeradodetretas {}
	
	.treta {
		position: absolute;
		overflow: hidden;
		display: inline-block;
		top: 60%;
		left: 3%;
		width: 130px;
		height: 100px;
		background-color: #020216;				/* Cor do fundo da janela principal */
		
		border: 2px solid #300542;				/* Cor da primeira borda da janela */
		outline: 1px solid #721381;				/* Cor da segunda borda da janela */
		
	}
	
	.tretateste {
		position: absolute;
		overflow: hidden;
		display: inline-block;
		top: 60%;
		left: 3%;
		width: 130px;
		height: 100px;
		background-color: #020216;				/* Cor do fundo da janela principal */
		
		border: 2px solid #300542;				/* Cor da primeira borda da janela */
		outline: 1px solid #721381;				/* Cor da segunda borda da janela */
		
	}
	
	/* PAGE: ILLUSTRATION */
	
	#coat {
		top: 0;
		left: 0;
		position: absolute;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		overflow: hidden;
		opacity: 0;
		z-index: -10;
		width: 0;
		height: 0;
	}
	
	#X {
		position: absolute;
		top: 30px;
		right: 30px;
		color: #CCC;
		font-family: silkscreenbold;
		font-size: 40pt;
		z-index: 101;
		opacity: 0;
	}
	
	#X:hover {
		text-decoration: none;
	}

	#original {
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 2s;
	}
	
	#fanart {
		display: none;
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 2s;
	}

	#thumbcontainer {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		width: 100%;
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 2s;
		overflow: hidden;
		opacity: 1;
	}
	
	#thumbnailarea {
		display: run-in;
		width: 80%;
	}
	

	.thumbnailwindow {
		position: relative;
		background-image: url('mockup_paint.png');
		background-repeat: no-repeat;
		background-color: #020216;
		background-position: top 500px;
		width: 392px;
		height: 405px;
		display: inline-block;
		margin: 15px;
		border: 2px solid #95560f;				/* Cor da primeira borda da janela */
		outline: 1px solid #e28112;				/* Cor da segunda borda da janela */
		
		-webkit-transition-duration: 0.2s; /* Safari */
		transition-duration: 0.2s;
		cursor: pointer;
	}
	
	.thumbnaildesc {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		color: #fff;
		font-size: 15pt;
		font-family: Raleway;
		-webkit-transition-duration: 0.2s; /* Safari */
		transition-duration: 0.2s;
	}
	
	.orig_desc {
		opacity: 0;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		padding: 20px;
	}
	
	.fan_desc {
		opacity: 0;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		padding: 20px;
	}
	
	.thumbnailcoat_orig {
		top: 0;
		left: 0;
		position: absolute;
		overflow: hidden;
		z-index: 999;
		background: rgba(0, 0, 0, 0);
		width: 100%;
		height: 100%;
		
		-webkit-transition-duration: 0.2s; /* Safari */
		transition-duration: 0.2s;
	}

	.thumbnailcoat_fan {
		top: 0;
		left: 0;
		position: absolute;
		overflow: hidden;
		z-index: 999;
		background: rgba(0, 0, 0, 0);
		width: 100%;
		height: 100%;
		
		-webkit-transition-duration: 0.1s; /* Safari */
		transition-duration: 0.1s;
	}
	
	.thumbnailimage_orig {
		position: absolute;
		top: 32px;
		left: 70px;
		background-repeat: no-repeat;
		background-color: #020216;
		width: 300px;
		height: 300px;
		background-size: cover;
	}
	
	.thumbnailimage_fan {
		position: absolute;
		top: 32px;
		left: 70px;
		background-repeat: no-repeat;
		background-color: #020216;
		width: 300px;
		height: 300px;
		background-size: cover;
	}
	

	.thumbnailtop {
		top: 0px;
		left: 0;
		max-width: 392px;
		height: 18px;
		background-color: #e28112;				/* Cor da barra do topo */
		text-align: left;
		color: #fff;							/* Cor do texto da barra */
		padding: 0px 0px 4px 7px;	/* top right bottom left */
		font-family: silkscreennormal;		/* Fonte do texto da barra */
		font-size: 13pt;
		margin-bottom: 18px;
	}

	
	#origfanwindow {
		position: absolute;
		overflow: auto;
		left: 5%;
		bottom: 25%;
		width: 230px;
		height: 175px;
		overflow: hidden;
		text-align: center;
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 0.3s;
		z-index: 1000;
	}
	
	#origfantop {
		top: 0px;
		left: 0;
		width: 100%;
		height: 18px;
		background-color: #721381;				/* Cor da barra do topo */
		text-align: left;
		color: #fff;							/* Cor do texto da barra */
		padding: 0px 0px 4px 7px;	/* top right bottom left */
		font-family: silkscreennormal;		/* Fonte do texto da barra */
		font-size: 13pt;
	}
	
	
	
	/* PAGE: DESIGN */
	
	#desbackwindow {
		position: absolute;
		overflow: auto;
		left: 5%;
		top: 18%;
		width: 165px;
		height: 78px;
		overflow: hidden;
		text-align: center;
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 0.5s;
	}
	
	#desbacktop {
		top: 0px;
		left: 0;
		width: 100%;
		height: 18px;
		background-color: #721381;				/* Cor da barra do topo */
		text-align: left;
		color: #fff;							/* Cor do texto da barra */
		padding: 0px 0px 4px 7px;	/* top right bottom left */
		font-family: silkscreennormal;		/* Fonte do texto da barra */
		font-size: 13pt;
	}
	
	.designwindow {
		position: relative;
		background-color: #020216;
		background-position: top 500px;
		width: 70%;
		display: inline-block;
		margin: 15px;
		border: 2px solid #95560f;				/* Cor da primeira borda da janela */
		outline: 1px solid #e28112;				/* Cor da segunda borda da janela */
		
		-webkit-transition-duration: 0.2s; /* Safari */
		transition-duration: 0.2s;
	}
	
	.designtop {
		top: 0px;
		left: 0;
		width: 100%;
		height: 18px;
		background-color: #e28112;				/* Cor da barra do topo */
		text-align: left;
		color: #fff;							/* Cor do texto da barra */
		padding: 0px 0px 4px 0px;	/* top right bottom left */
		font-family: silkscreennormal;		/* Fonte do texto da barra */
		font-size: 13pt;
	}

	.designimage {
		padding: 30px;
		
	}
	
	.designimage img {
		width: 100%;
		
	}
	
	.design_desc {
		padding: 30px;
		text-align: left;
		line-height: 23px;
	}
	
	
	
	
	/* BARRA DE ROLAGEM */
	
	/* width */
	::-webkit-scrollbar {
		width: 10px;
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 0.7s;
	}

	/* Track */
	::-webkit-scrollbar-track {
		border-radius: 5px;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
		background-color: #e28112;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background-color: #e28112;
	  
	}
		