
	body {
		overflow: auto;
		text-align: center;
	}
	

	#thumbcontainer {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		width: 100%;
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 2s;
	}
	
	#thumbnailarea {
		display: run-in;
	}

	.thumbnailwindow {
		position: relative;
		background-image: url('mockup_paint.png');
		background-repeat: no-repeat;
		background-color: #020216;
		background-size: cover;
		width: 392px;
		height: 429px;
		display: inline-block;
		margin: 15px;
		border: 2px solid #95560f;				/* Cor da primeira borda da janela */
		outline: 1px solid #e28112;				/* Cor da segunda borda da janela */
	}
	
	.thumbnailimage {
		position: absolute;
		top:27px;
		left: 70px;
		background-repeat: no-repeat;
		background-color: #020216;
		width: 300px;
		height: 300px;
		background-size: cover;
	}
	

	.thumbnailtop {
		top: 0px;
		left: 0;
		max-width: 392px;
		height: 18px;
		background-color: #e28112;				/* Cor da barra do topo */
		text-align: left;
		color: #fff;							/* Cor do texto da barra */
		padding: 0px 0px 4px 7px;	/* top right bottom left */
		font-family: silkscreennormal;		/* Fonte do texto da barra */
		font-size: 13pt;
	}




	/* versão antiga */

	#thumbnailsbox {
		overflow: auto;
		width: 100%;
		max-height: 600px;
		text-align: center;
		display: run-in;
		padding: 20px 0;
	}
	
	.thumbborder {
		margin: none;
		display: inline-block;
		border: 2px solid #e28112;
		width: 306px;
		height: 306px;
		border-radius: 173px 173px 173px 173px;
		overflow: hidden;
		margin: 20px;
	}
	
	.thumbnails {
		background-color: #777;
		display: inline-block;
		position: relative;
		top: 0;
		left: 0;
		max-width: 300px;
		max-height: 300px;
		overflow: hidden;
		border-radius: 170px 170px 170px 170px;
		border: 3px solid #020216;
		-webkit-transition-duration: 0.3s; /* Safari */
		transition-duration: 0.3s;
		opacity: 0.8;
		
	}
	
	.thumbnails:hover {
		border-radius: 170px 170px 170px 170px;
		border: 3px solid #020216;
		-webkit-transition-duration: 0.3s; /* Safari */
		transition-duration: 0.3s;
		opacity: 1;
		filter: grayscale(0%) sepia(0%) hue-rotate(0deg);
		
	}
	
	.thumbnails img {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		max-width: 300px;
	}
	
	
	#origfanwindow {
		position: absolute;
		overflow: auto;
		left: 5%;
		top: 18%;
		width: 230px;
		height: 175px;
		overflow: hidden;
		text-align: center;
		-webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
		animation-name: fade;
		animation-duration: 0.5s;
	}
	
	#origfantop {
		top: 0px;
		left: 0;
		width: 100%;
		height: 18px;
		background-color: #721381;				/* Cor da barra do topo */
		text-align: left;
		color: #fff;							/* Cor do texto da barra */
		padding: 0px 0px 4px 7px;	/* top right bottom left */
		font-family: silkscreennormal;		/* Fonte do texto da barra */
		font-size: 13pt;
	}
	
	.origfanbutton {
		color: #bbb;
		text-align: center;
		font-family: Segoe UI;
		font-size: 16px;
		padding: 2px 4px;
		width: 50%;
		border-top: 1px solid #721381;
		border-left: 1px solid #721381;	
		border-right: 1px solid #CCC;	
		border-bottom: 1px solid #CCC;
		margin-bottom: 8px;
		outline: 1px solid #721381;
	}
	
	.origfanbutton:hover {
		border-top: 1px solid #CCC;
		border-left: 1px solid #CCC;	
		border-right: 1px solid #721381;	
		border-bottom: 1px solid #721381;
		outline: 1px solid #721381;
	}
	
	.origfanbutton:active {
		border-top: 1px solid #721381;
		border-left: 1px solid #721381;	
		border-right: 1px solid #CCC;	
		border-bottom: 1px solid #CCC;
		background-color: #1d0736;
		outline: 1px solid #721381;
	}
	
	
	
	
	
